@import '~@angular/material/theming';

@include mat-core();

$kelly-green: (
    50 : #e3ebed,
    100 : #baced3,
    200 : #8cadb6,
    300 : #5e8c98,
    400 : #3c7382,
    500 : #195a6c,
    600 : #165264,
    700 : #124859,
    800 : #0e3f4f,
    900 : #082e3d,
    A100 : #74d2ff,
    A200 : #41c1ff,
    A400 : #0eb1ff,
    A700 : #00a5f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$kelly-primary: mat-palette($kelly-green);
$kelly-accent:  mat-palette($kelly-green);

$kelly-theme: mat-light-theme($kelly-primary, $kelly-accent);

.mat-snack-bar-container.snackbar-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.mat-snack-bar-container.snackbar-failure {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

@include angular-material-theme($kelly-theme);