.nodeName {
    margin-left: 10px;
    font-family: sans-serif;
}

.nodeName:hover{
    color: #195a6c;
    cursor: pointer;
  }
  
.background-highlight{
    background: lightgrey;
  }

.tree {
  display: flex;
  flex-flow: column;
  height: 88%;
  overflow-y:auto
}

.datePicker {
  padding-left: 35px; 
}